<div class="container">
  <h1>Theatre Mapping</h1>
  <!-- <form class="form"> -->
  <!-- {{theatreMappingCtrl.movies}} -->
  <div class="form-group col-md-3 inline">
    <label for="sel1">City:</label>
    <select class="form-control" id="sel1" ng-model="theatreMappingCtrl.theatreForm.city">
      <option ng-repeat="city in theatreMappingCtrl.cities">{{ city.name }}</option>
    </select>
  </div>
  <div class="form-group col-md-3 inline">
    <label for="sel1">Theatre:</label>
    <select class="form-control" id="sel1" ng-model="theatreMappingCtrl.theatreForm.theatre" >
      <option ng-repeat="theatre in theatreMappingCtrl.cityMappings[theatreMappingCtrl.theatreForm.city]">{{ theatre.name }} - {{theatre.location}}</option>
    </select>
  </div>
  <div class="form-group col-md-3 inline">
    <label for="sel1">Movie:</label>
    <select class="form-control" id="sel1" ng-model="theatreMappingCtrl.theatreForm.movie">
      <option ng-repeat="movie in theatreMappingCtrl.movies">{{ movie.Title }}</option>
    </select>
  </div>
  <div class="form-group col-md-3 inline">
    <label for="">.</label>
    <button type="button" name="button" class="btn btn-primary col-md-12" ng-click="theatreMappingCtrl.addMapping()"><span class="glyphicon glyphicon-search"></span></button>
  </div>
  <div class="row">
    <form class="panel">
      <div class="panel-body">
        <div class="inline col-md-6">
          <div class="form-group form-inline">
            <h3>Add dates</h3>
            <input class="form-control inline" type="date" name="" value="" ng-model="theatreMappingCtrl.theatreForm.date">
            <button type="button" name="button" class="btn btn-submit" ng-click="theatreMappingCtrl.addDate()"><span class="glyphicon glyphicon-calendar"></span></button>
          </div>
          <table class="table col-md-6">
            <tr ng-repeat="date in theatreMappingCtrl.mapping.dates track by $index">
              <td>{{ theatreMappingCtrl.genDate(date) }}</td>
              <td><button type="button" name="button" class="btn btn-danger" ng-click="theatreMappingCtrl.removeDate($index)"><span class="glyphicon glyphicon-trash"></span></button></td>
            </tr>
          </table>
        </div>

        <div class="inline col-md-6">
          <div class="form-group form-inline">
            <h3>Add Timings</h3>
            <input class="form-control" type="time" name="" value="" ng-model="theatreMappingCtrl.theatreForm.timing">
            <button type="button" name="button" class="btn btn-submit" ng-click="theatreMappingCtrl.addTiming()"><span class="glyphicon glyphicon-time"></span></button>
          </div>
          <table class="table col-md-6">
            <tr ng-repeat="timing in theatreMappingCtrl.mapping.timings track by $index">
              <td>{{theatreMappingCtrl.genTiming(timing)}}</td>
              <td><button type="button" name="button" class="btn btn-danger" ng-click="theatreMappingCtrl.removeTiming($index)"><span class="glyphicon glyphicon-trash"></span></button></td>
            </tr>
          </table>
        </div>

      </div>
    </form>
    <div class="panel">
      <div class="panel-body">
        <button type="submit" class="btn btn-default" ng-click="theatreMappingCtrl.PostOrUpdateMapping()">Save</button>
        <button type="button" name="button" class="btn btn-danger" ng-click="theatreMappingCtrl.deleteMapping()">Delete mapping</button>
      </div>
    </div>
    <!-- </form> -->

  </div>
