<div class="container">
  <h1>Theatre Mapping</h1>
  <form>
    <!-- {{theatreMappingCtrl.movies}} -->
    <div class="form-group">
      <label for="sel1">Select City:</label>
      <select class="form-control" id="sel1" ng-model="theatreMappingCtrl.theatreForm.city">
        <option ng-repeat="city in theatreMappingCtrl.cities">{{ city.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="sel1">Select Theatre:</label>
      <select class="form-control" id="sel1" ng-model="theatreMappingCtrl.theatreForm.theatre" >
        <option ng-repeat="theatre in theatreMappingCtrl.cityMappings[theatreMappingCtrl.theatreForm.city]">{{ theatre.name }} - {{theatre.location}}</option>
      </select>
    </div>
  <div class="form-group">
    <label for="sel1">Select Movie:</label>
    <select class="form-control" id="sel1" ng-model="theatreMappingCtrl.theatreForm.movie">
      <option ng-repeat="movie in theatreMappingCtrl.movies">{{ movie.Title }}</option>
    </select>
  </div>
  <button type="button" name="button" class="btn btn-primary" ng-click="theatreMappingCtrl.addMapping()">Search Mapping</button>
  <div class="row">
    <div>
      <h3>Add dates</h3>
      <input type="date" name="" value="" ng-model="theatreMappingCtrl.theatreForm.date">
      <button type="button" name="button" class="btn btn-submit" ng-click="theatreMappingCtrl.addDate()">Add Date</button>
      <table class="table col-md-6">
        <tr ng-repeat="date in theatreMappingCtrl.mapping.dates track by $index">
          <td>{{ theatreMappingCtrl.genDate(date) }}</td>
          <td><button type="button" name="button" class="btn btn-danger" ng-click="theatreMappingCtrl.removeDate($index)">x</button></td>
        </tr>
      </table>
    </div>
    <div>
      <h3>Add Timings</h3>
      <input type="time" name="" value="" ng-model="theatreMappingCtrl.theatreForm.timing">
      <button type="button" name="button" class="btn btn-submit" ng-click="theatreMappingCtrl.addTiming()">Add timing</button>
    </div>
    <table class="table col-md-6">
      <tr ng-repeat="timing in theatreMappingCtrl.mapping.timings track by $index">
        <td>{{theatreMappingCtrl.genTiming(timing)}}</td>
        <td><button type="button" name="button" class="btn btn-danger" ng-click="theatreMappingCtrl.removeTiming($index)">x</button></td>
      </tr>
    </table>
  </div>
  <button type="submit" class="btn btn-default" ng-click="theatreMappingCtrl.PostOrUpdateMapping()">Save</button>
  <button type="button" name="button" class="btn btn-danger" ng-click="theatreMappingCtrl.deleteMapping()">Delete mapping</button>
</form>

</div>
