<div class="page-header" ng-style="{ 'background-image': 'url({{timingsCtrl.bookingService.backdrop}})' }">
  <h1 class="align-center">{{ timingsCtrl.bookingService.movieDetails.name }}</h1>
</div>

<ul class="nav nav-pills">
  <li ng-repeat="date in timingsCtrl.dates" ><a data-toggle="pill" ng-click="timingsCtrl.selectDate(date)"><span class="glyphicon glyphicon-calendar"></span> {{ timingsCtrl.genDate(date) }}</a></li>
</ul>

<div>
  <div>
    <table class="table table-striped">
      <tr ng-repeat="mapping in timingsCtrl.filteredMappings">
        <td>{{mapping.theatre}}</td>
        <td ng-repeat="timing in mapping.timings"><button class="btn btn-default" ng-click="timingsCtrl.selectTimings(mapping.theatre, timing)"><span class="glyphicon glyphicon-time"></span> {{ timingsCtrl.genTiming(timing) }}</button></td>
      </tr>
    </table>
  </div>
</div>
