<div class="page-header" ng-style="{ background-image: 'url({{timingsCtrl.bookingService.backdrop}})' }">
  <h1>{{ timingsCtrl.bookingService.movieDetails.name }} <small>{{ timingsCtrl.bookingService.backdrop }} rgeS</small></h1>
</div>
<ul class="nav nav-pills">
  <li ng-repeat="date in timingsCtrl.dates" ><a data-toggle="pill" ng-click="timingsCtrl.selectDate(date)">{{ timingsCtrl.genDate(date) }}</a></li>
</ul>

<div>
  <div>
    <table class="table">
      <tr ng-repeat="mapping in timingsCtrl.filteredMappings">
        <td>{{mapping.theatre}}</td>
        <td ng-repeat="timing in mapping.timings"><a ng-click="timingsCtrl.selectTimings(mapping.theatre, timing)">{{ timingsCtrl.genTiming(timing) }}</a></td>
      </tr>
    </table>
  </div>
</div>
