<div class="container">
  <h2>THEATRES</h2>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>No Of Seats</th>
      <th>No of Screens</th>
    </tr>

    <tr>
      <td><input type="text" name="" value="" ng-model="theatresCtrl.theatre.name" placeholder="Enter Theatre Name"></td>
      <td><input type="text" name="" value="" ng-model="theatresCtrl.theatre.location" placeholder="Enter Theatre Location"></td>
      <td><input type="text" name="" value="" ng-model="theatresCtrl.theatre.seatCount" placeholder="Enter Seat Count"></td>
      <td><input type="text" name="" value="" ng-model="theatresCtrl.theatre.screenCount" placeholder="Enter Screen Count"></td>
      <td><button type="button" class="btn btn submit" name="button" ng-click="theatresCtrl.addTheatre()">Add Theatre</button></td>
    </tr>

    <tr ng-repeat="theatre in theatresCtrl.theatres">
      <td>{{theatre.name}}</td>
      <td>{{theatre.location}}</td>
      <td>{{theatre.seatCount}}</td>
      <td>{{theatre.screenCount}}</td>
      <td><button class="btn btn-danger" type="button" name="button" ng-click="theatresCtrl.deleteTheatre(theatre)">X</button></td>
    </tr>
  </table>
</div>
