<div class="container">
  <div class="col-md-9">
    <h2>Seating</h2>
    <div class="" ng-if="seatingCtrl.bookedSeats !== undefined">
      <h5>GOLD</h5>
      <div class="" ng-repeat="row in seatingCtrl.rows | limitTo:3:0">
        <div class="inline">
          {{row}}
        </div>
        <div ng-repeat="col in seatingCtrl.columns" class="inline">
          <div class="seats" ng-class="{'selected': seatingCtrl.isSelected(row, col), 'booked': seatingCtrl.isBooked(row, col)}"  ng-click="seatingCtrl.selectSeat(row, col, 'gold')">
            {{col}}
          </div>
          <!-- <div class="ghost"></div>
          <div class="seats" ng-class="{'selected': seatingCtrl.isSelected(row, col), 'booked': seatingCtrl.isBooked(row, col)}"  ng-click="seatingCtrl.selectSeat(row, col)">
          {{col}}
        </div> -->
      </div>
    </div>

    <h5>SILVER</h5>
    <div class=""  ng-repeat="row in seatingCtrl.rows | limitTo:-3">
      <div class="inline">
        {{row}}
      </div>
      <div ng-repeat="col in seatingCtrl.columns" class="inline">
        <div class="seats" ng-class="{'selected': seatingCtrl.isSelected(row, col), 'booked': seatingCtrl.isBooked(row, col)}"  ng-click="seatingCtrl.selectSeat(row, col, 'silver')">
          {{col}}
        </div>
      </div>
    </div>
  </div>

</div>
<div class="col-md-3 bg-info">
  <h2>Booking Summary</h2>
  <h3>{{seatingCtrl.movieDetails.name}}</h3>
  <div class="">
    <h3>Gold</h3>
    <span>
      <a class="no-decoration">Seats: </a>
      <a class="no-decoration" ng-repeat="seat in seatingCtrl.bookingForm.gold track by $index">{{seat.row}}{{seat.col}}{{ $index < seatingCtrl.bookingForm.gold.length - 1 ? ', ' : '' }}</a>
    </span>
    <br>
    <span>
      <a class="no-decoration"> {{"Seat Count: " + seatingCtrl.bookingForm.gold.length + " Seat(s)"}}</a>
    </span>
    <br>
    <span>
      <a class="no-decoration">{{"Total Price(200/ticket): Rs " + (0 || seatingCtrl.bookingForm.gold.length * 200)}}</a>
    </span>
    <br>
    <h3>Silver</h3>
    <span>
      <a class="no-decoration">Seats: </a>
      <a class="no-decoration" ng-repeat="seat in seatingCtrl.bookingForm.silver track by $index">{{seat.row}}{{seat.col}}{{ $index < seatingCtrl.bookingForm.gold.length - 1 ? ', ' : '' }}</a>
    </span>
    <br>
    <span>
      <a class="no-decoration"> {{"Seat Count:" + seatingCtrl.bookingForm.silver.length + " Seat(s)"}}</a>
    </span>
    <br>
    <span>
      <a class="no-decoration">{{"Total Price(100/ticket): Rs " + (0 || seatingCtrl.bookingForm.silver.length * 100) }}</a>
    </span>
    <br>
    <h3>Total</h3>
    <span>
      <a class="no-decoration">{{ "Total seat Price: Rs" + ((seatingCtrl.bookingForm.gold.length * 200) + (seatingCtrl.bookingForm.silver.length * 100)) }}</a>
    </span>
    <br>
    <span>
      <a class="no-decoration">Internet Fee: Rs 30</a>
    </span>
    <br>
    <span>
      <a class="no-decoration">{{"Grand Total: Rs " + seatingCtrl.bookingForm.grandTotal }}</a>
    </span>
    <br>

  </div>
  <button type="button" name="button" class="btn btn-success" ng-click="seatingCtrl.bookSeats()">Book tickets</button>
  </div>
  </div>
