<div class="container">
  <div class="col-md-6">
    <h2>Seating</h2>
    <div class="" ng-if="seatingCtrl.bookedSeats !== undefined">
        <h5>GOLD</h5>
        <div class="" ng-repeat="row in seatingCtrl.rows | limitTo:3:0">
          <div class="inline">
            {{row}}
          </div>
          <div ng-repeat="col in seatingCtrl.columns" class="inline">
            <div class="seats" ng-class="{'selected': seatingCtrl.isSelected(row, col), 'booked': seatingCtrl.isBooked(row, col)}"  ng-click="seatingCtrl.selectSeat(row, col, 'gold')">
              {{col}}
            </div>
            <!-- <div class="ghost"></div>
            <div class="seats" ng-class="{'selected': seatingCtrl.isSelected(row, col), 'booked': seatingCtrl.isBooked(row, col)}"  ng-click="seatingCtrl.selectSeat(row, col)">
            {{col}}
          </div> -->
        </div>
      </div>

      <h5>SILVER</h5>
      <div class=""  ng-repeat="row in seatingCtrl.rows | limitTo:-3">
        <div class="inline">
          {{row}}
        </div>
        <div ng-repeat="col in seatingCtrl.columns" class="inline">
          <div class="seats" ng-class="{'selected': seatingCtrl.isSelected(row, col), 'booked': seatingCtrl.isBooked(row, col)}"  ng-click="seatingCtrl.selectSeat(row, col, 'silver')">
            {{col}}
          </div>
        </div>
      </div>
      <button type="button" name="button" class="btn btn-success" ng-click="seatingCtrl.bookSeats()">Book tickets</button>
    </div>

  </div>
  <div class="col-md-6">
    <h2>Booking Summary</h2>
    <h3>{{seatingCtrl.movieDetails.name}}</h3>
    <div class="">
      <h3>Gold</h3>
      <table>
        <tr>
          <td>No of seats:</td>
          <td>
            <a class="no-decoration" ng-repeat="seat in seatingCtrl.bookingForm.gold track by $index">{{seat.row}}{{seat.col}}{{ $index < seatingCtrl.bookingForm.gold.length - 1 ? ', ' : '' }}</a>
          </td>
        </tr>
        <tr>
          <td>Seat Count:</td>
          <td>{{seatingCtrl.bookingForm.gold.length}} Seats</td>
        </tr>
        <tr>
          <td>Price for one ticket:</td>
          <td>200</td>
        </tr>
        <tr>
          <td>Gold tickets total:</td>
          <td>Rs {{seatingCtrl.bookingForm.gold.length * 200}}</td>
        </tr>
      </table>
    </div>
    <div class="">
      <h3>Silver</h3>
      <table>
        <tr>
          <td>No of seats:</td>
          <td>
            <a class="no-decoration" ng-repeat="seat in seatingCtrl.bookingForm.silver track by $index">{{seat.row}}{{seat.col}}{{ $index < seatingCtrl.bookingForm.gold.length - 1 ? ', ' : '' }}</a>
          </td>
        </tr>
        <tr>
          <td>Seat Count:</td>
          <td>{{seatingCtrl.bookingForm.silver.length}} Seats</td>
        </tr>
        <tr>
          <td>Price for one ticket:</td>
          <td>100</td>
        </tr>
        <tr>
          <td>Silver tickets total:</td>
          <td>Rs {{seatingCtrl.bookingForm.silver.length * 100}}</td>
        </tr>
      </table>
      <p></p>
      <table>
        <tr>
          <td>Total Seat count:</td>
          <td>{{seatingCtrl.selectedSeats.length}} Seats</td>
        </tr>
        <tr>
          <td>Total Seat Price:</td>
          <td>Rs{{ (seatingCtrl.bookingForm.gold.length * 200) + (seatingCtrl.bookingForm.silver.length * 100) }}</td>
        </tr>
        <tr>
          <td>Internet fee:</td>
          <td>Rs 30</td>
        </tr>
        <tr>
          <th>Grand Total</th>
          <td>{{ seatingCtrl.bookingForm.grandTotal }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
